
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Landingpage SCSS
@import 'landing';  // Specific landing page styles

// Custom SCSS components
@import 'components/userProfile';

// Custom SCSS classes
@import 'classes/backgrounds';


html, body {
    background-color: #fff;
    color           : #636b6f;
    font-family     : 'Nunito', sans-serif;
    font-weight     : 200;
    height          : 100vh;
    margin          : 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow      : 0 2px 4px rgba(0, 0, 0, 0.04);
}
