.profile-card-container{
    // Any good way to display as column?
    // Because card height might differ
}

a.profile-card{
    text-decoration: none;
    color          : rgba(0, 0, 0, 0.7);
}
.profile-card{
    display       : flex;
    flex-direction: column;
    cursor        : pointer;
    margin        : 0 0px 24px 0px;
    transition    : transform .3s, font-size .3s;

    &:hover{
        transform: scale(1.1);
    }

    .profile-img{
        margin  : 0 10vw;
        overflow: hidden;

        @media screen and (min-width: 768px) {
            max-height: 160px;
            max-width : 160px;
            margin    : 0 auto;
        }

        img{
            width : 90%;
            margin: 0 5%;
        }
    }
}

.profile-info{
        margin: 12px 0 24px 0;

    h3{
        font-size : 16px;
        text-align: center;
    }
}
