.side-menu{
    margin-top: 64px;

    @media screen and (min-width: 992px) {
        order: 1;
    }

    .card{
        border: none;

        a{
            text-decoration: none;
        }

        .card-header{
            background-color: transparent;
            border-bottom   : none;

            h5{
                color: rgba(0, 0, 0, 0.7);
            }
        }

        .card-body{
            background-clip: border-box;
            border         : 1px solid rgba(0, 0, 0, 0.125);
            border-radius  : 0.25rem;
        }
    }
}
